@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600|Open+Sans+Condensed:300,700);

body {
  background-color: #3bbef0;
  color: #333;
  font-family: 'Open Sans', verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #fff;
  text-decoration: none;
  &:visited {

  }
  &:hover {

  }
}

img {
  height: 100%;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

// main na'vi

header nav ul {
      text-align: center;
      padding: 1em 0 1em 0;
      margin:  0;
      list-style: none;
      height: 3em;

      li {
        display: inline;

        a {
          text-decoration: none;
        }
      }

}

// panel grid

.fs_panel a {
  float: left;
  display: block;
  width: 50%;
  text-align: center;
  font-family: "Open Sans Condensed";
  font-size: 3em;
  font-weight: 600;
  text-transform: uppercase;
  padding: 3em 0 3em 0;
  opacity: 1;
}

.huge {
  display: block;
  text-align: center;
  font-size: 5em;
  color: white;
  font-weight: 300;
}
