<!DOCTYPE html>
<html>
<head>
  <title>Vent</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
    <header>
      <nav>
        <ul>
          <li class="l">...</li>
          <li><img src="/assets/vent_logo.png"></li>
          <li class="r">...</li>
        </ul>
      </nav>
    </header>

<%= yield %>

</body>
</html>
