<!DOCTYPE html>
<html>
<head>
  <title>Vent</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <%= csrf_meta_tags %>

</head>
<body>
    <header>
      <nav>
        <ul>
          <li><a href="/"><img src="/assets/vent_logo.png"></a></li>
          <% if current_user %>

          <% end %>
        </ul>
      </nav>
    </header>

<%= yield %>

</body>
</html>
